.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f8f9;
}

.mobile-container {
  width: 375px;
  height: 812px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  overflow-y: auto;
  position: relative;
  border: 1px solid #ddd;
}

.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group label {
  position: absolute;
  top: -10px;
  left: 12px;
  background: white;
  padding: 0 5px;
  font-size: 13px;
  color: #6c25ff;
}

.input-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  box-sizing: border-box;
}

.btn-primary {
  width: 100%;
  padding: 15px;
  background-color: #6c25ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.btn-secondary {
  width: 100%;
  padding: 15px;
  background-color: #cebafe;
  color: #1d2226;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}